<h1>Workhops</h1>

<tbody>

  <% @workshops.each do |workshop| %>
  <ul>
    <tr>
      <li>
        <td><%= workshop.name %></td>
        <td><%= link_to 'Show', workshop %></td>
        <td><%= link_to 'Edit', edit_workshop_path(workshop) %></td>
        <td><%= link_to 'Destroy', workshop_path(workshop), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </li>
    </tr>
  </ul>
  <% end %>
</tbody>
</table>

