// Specific CSS for your home-page
.container {
  text-align: center;
  width: 60%;
  color: white
}
.image-placeholder {
    background-color: #eee;
    display: flex;
    height: 180px;
    margin: 5px;
    width: 260px;
}

.image-placeholder > h4 {
    align-self: center;
    text-align: center;
    width: 100%;
}

.card-body{
  display: flex;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#exampleModal{
  color: black;
  .form-control {
    width: 100%;
  }
}
