<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('workshop.jpg') %>);">

<div class="container">

  <div class="d-flex flex-column my-5">
    <h1>Welcome on AirWorkshops</h1>
    <p class="p-3">AirWorkshops connects students who want to participate to a meaningfull workshop and teachers who want to share their knowledge</p>
    <p><%= link_to "Find a workshop", workshops_path, class: "btn btn-primary" %></p>

  </div>
</div>
</div>
