<div class="container">
<div class="banner">

    <h1>Find your workshop now</h1>
  <p>Workshopy connects students who want to participate to a meaningfull workshop and teachers who want to share their knowledge</p>

<!--     <a href="https://www.lewagon.com/" class="button-blue">Apply now!></a>
 -->

    <p><%= link_to "Find a workshop", workshops_path, class: "btn btn-primary" %></p>
    <p<%#= link_to  "Propose a workshop", new_workshop_path, %></p>
  </div>
</div>
